<h1>Dashboard</h1>
<div class="card">
  <div class="card-head">
    <h3>Lorem ipsum - Dashboard</h3>
  </div>
  <div class="card-body">
    <p align="justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
      reprehenderit libero laudantium quas. Tempore nostrum veritatis
      distinctio. Reprehenderit esse omnis labore, animi expedita culpa, ad
      aliquid ut deserunt sapiente explicabo. Vitae animi accusamus quisquam
      tempore consequatur, consectetur dolore a voluptate ullam dolor eos totam
      natus quidem non omnis culpa ipsam quasi laudantium laboriosam corporis
      inventore perferendis maiores veniam. Atque, numquam.
    </p>
  </div>
</div>
